[submodule "modules/ntp"]
	path = modules/ntp
	url = git://github.com/pebblecode/puppet-ntp.git
[submodule "modules/motd"]
	path = modules/motd
	url = git://github.com/pebblecode/puppet-motd.git
[submodule "modules/openssh-server"]
	path = modules/openssh-server
	url = git://github.com/pebblecode/puppet-openssh-server.git
[submodule "modules/iptables"]
	path = modules/iptables
	url = git://github.com/pebblecode/puppet-iptables.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/pebblecode/puppet-mysql.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/rbenv"]
	path = modules/rbenv
	url = git://github.com/alup/puppet-rbenv.git
[submodule "modules/couchdb"]
	path = modules/couchdb
	url = https://github.com/bdossantos/puppet-module-couchdb
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql
